name: compile new merge

on:
  pull_request:
    types: [closed]

permissions: [write-all, read-all]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo content
      uses: actions/checkout@v2

    - name: setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: install python packages
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: execute manual products compiler
      run: python scripts/new_products_compiler.py

    - name: execute contents compiler
      run: python scripts/product_contents_compiler.py

    - name: execute card to product mapper
      run: python scripts/card_to_product_compiler.py -o outputs/card_map.json

    - name: commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)

    - name: push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: data_compile 
