name: Daily Rebuild Outputs
on:
  schedule:
    - cron: 0 */12 * * *
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    if: github.repository == 'mtgjson/mtg-sealed-content'
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute new products
        env:
          TCG_AUTH: ${{ secrets.TCG_AUTH }}
        run: python scripts/load_new_products.py $TCG_AUTH

      - name: execute contents compiler
        run: python scripts/product_contents_compiler.py
        
      - name: execute manual products compiler
        run: python scripts/new_products_compiler.py

      - name: execute card to product mapper
        run: python scripts/card_to_product_compiler.py -o outputs/card_map.json

      - name: commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Pull new daily content
          push_options: --force
